
    <div class="row input-group gmamatrix-lmi-input">
        <div class="col-xs-9" title="<%= item.description() %>">
            <label for="measurement-<%= item.getID() %>"><%= item.label() %></label>
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="measurement-<%= item.getID() %>" maxlength="2" value="<%= item.value() %>">
        </div>
    </div>
